@media only screen and (min-width: 600px) {
    .container{
        max-width: 100% !important;
    }
  }

.intro{
    text-align: center;
    padding-top: 2rem;
    background-color: black;
    color: white;
   
}

.jumbotron {

    border: 0px;
    padding: 0px !important;
    margin-bottom: 0px !important;
    background-color: black !important;
   }


.container{
    background-color: black;


}

video{
    max-width: 100%;
    max-height: 100%;
}


.contact{
    background-color: #222121;
    color: #fff;
    overflow: hidden;
    padding: 2rem;
}

.contact p {
    margin: 0;
}


.sns{
   float: right;
   text-align: right;
}

.container{
    padding-bottom: 3rem;
}

.btn-primary{
    
    padding: 1rem 3rem !important;
    font-size: x-large !important;
    border-radius: 200px !important;
    background-color: rgb(255, 35, 35) !important;
    border-color: rgb(255, 35, 35) !important;
}

